body {
    padding: 2em 1em;
}
.card {
    height: 450px;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}
.stack {
    background: rgba(0, 0, 0, .8);
    color: white;
    padding: .3em .5em;
    border-bottom: solid 1px rgba(255, 255, 255, .1);
}
.inner {
    padding: 1em;
}
