body {
    padding: 2em 1em;
}
.card {
    height: 450px;
    max-width: 500px;
    margin: 0 auto 2em;
    /*overflow: hidden;*/
    
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}
.stack {
    background: #006c7f;
    text-align: center;
    color: white;
    padding: .1em .4em;
    border-top: solid 1px rgba(255, 255, 255, .2);
    border-bottom: solid 1px rgba(255, 255, 255, .2);
}
.inner {
    padding: 1em;
}
